.grid {
    display: grid;
    grid-template-rows: 30px 80px 50px;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

.grid div:first-child {
    background-color: navy;
    grid-row-start: 1;
    grid-row-end: span 1;
    grid-column-start: 1;
    grid-column-end: span 3;
}

.grid div:nth-child(2) {
    background-color: gray;
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
}

.grid div:nth-child(3) {
    background-color: rgb(147, 174, 192);
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;
}

.grid div:last-child {
    background-color: darkslategray;
    grid-row: 3 / span 1;
    grid-column: 1 / span 3;
}


