.values-legal-section.left-side {
  background-color: #C0C5CE;
}

.members-section.right-side {
  background-color: #f5f5f5;
}

.members-header.header {
  text-align: center;
}

.image-container {
  border: 1px solid #C0C5CE;
  border-radius: 50%;
  width: 11rem;
}

.adrian .image-container {
  background: url("/assets/images/adrian.jpg");
  background-size: cover;
}

.hannah .image-container {
  background: url("/assets/images/hannah.jpg");
  background-size: cover;
}

.jeff .image-container {
  background: url("/assets/images/jeff.jpg");
  background-size: cover;
}

@supports  (grid-area: auto) {

  .values-section-container {
    display: grid;
    grid-template-rows:  auto repeat(3, 1fr);
    height: 54vh;
  }

  .values-legal-section.left-side {
    grid-row: 2;
    grid-column: 2;
  }

  .members-section.right-side {
    grid-column: 1;
  }

  .members-section-container {
    display: grid;
    grid-template-rows: auto repeat(3, 1fr);
  }

  .member {
    display: grid;
    grid-template-rows: 11rem 40rem;
    grid-template-columns: repeat(8, 1fr);
  }

  .image-container {
    grid-column: 4/6;
    justify-self: center;
  }

  .bio-header-container, .bio-content-container {
    grid-column: 2/8;
    margin: 1rem;
  }

  .bio-container {
    grid-row: 2;
    grid-column: 2 / 8;
    margin: 1rem 0 2rem;
  }

  .member-name {
    text-align: center;
  }
}
