@supports  (grid-area: auto) {

  /*DON'T FORGET TO LOOK FOR STYLING THAT WILL APPLY ELSEWHERE
  WE ARE STAYING DRY ON THIS PROJECT*/

  .home-page {
    grid-template-rows: 41vh 43vh;
    grid-template-columns: repeat(3, 1fr);
  }

  .page-header.home-header {
    grid-column: 1 / 4;
  }

  .home-header .content-container .header-content {
    font-size: 3rem;
  }

  .service {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .web-design, .apps {
    background-color: var(--cloud-grey);
    text-shadow: -1px -1px 0 var(--white),
    1px -1px 0 var(--white),
    -1px 1px 0 var(--white),
    1px 1px 0 var(--white)
  }

  .branding {
    background-color: var(--storm-grey);
    color: var(--white);
    text-shadow: -1px -1px 0 var(--slate-grey),
    1px -1px 0 var(--slate-grey),
    -1px 1px 0 var(--slate-grey),
    1px 1px 0 var(--slate-grey);
  }

  .web-design .service-header, .apps .service-header {
    color: var(--navy);
  }

  .branding .service-header {
    color: var(--white);
  }

  .service-header {
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  .portfolio-link {
    align-items: center;
    align-self: center;
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    text-align: center;
  }

  .svg-container {
    width: 14rem;
  }

  @media screen and (max-width: 1085px) {
    .home-header .content-container .header-content {
      font-size: 2.75rem;
    }
  }

  @media screen and (max-width: 950px) {
    .home-header .content-container .header-content {
      font-size: 2.5rem;
    }
  }

  @media screen and (max-width: 860px) and (min-width: 816px) {
    .service-header {
      font-size: 3rem;
    }

    .svg-container {
      width: 12rem;
    }
  }

  @media screen and (max-width: 815px) {
    /* All tablets in portrait and cell phones*/
  }
}
