.landing-page-wrap {
  display: grid;
  grid-template-rows: 33vh 67vh;
  grid-template-columns: 50vw 50vw;
  grid-gap: 10px;
}

.landing-page-wrap > div {
  background-color: red;
}

.logo-grid {
  grid-column: 1 / 3;
}

.navigate-container-left {
  justify-items: end;
}
/*.navigate-text, .navigate-text .large {
  display: block;
}*/

#landing-page {
  /*background-color: var(--slate-grey);*/
	/*position: absolute;
	top: 0;
	z-index: 1;*/
}

.logo-container-landing {
	/*margin: 3em auto 1em;*/
	width: 15%;
}

.logo-container-landing img {
	margin-left: 1em;
	max-height: 100%;
	max-width: 100%;
	padding: 5em 0 2em 0;
}

.navigate-container-left
.navigate-container-right {
	border-right: 1px solid var(--vibrant-green);
}

.navigate-text {
	color: var(--vibrant-green);
	font-family: 'Montserrat', sans-serif;
	/*font-size: 8em;
	font-weight: 400;*/
	/*text-transform: uppercase;*/
}

/*.navigate-text.large {
	font-size: 12em;
}*/
/*.nav-hamburger {
	display: none;
}*/
