/*--------------------------------------------------------------------------------------------
Reset - Thanks Eric Meyer!!
---------------------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	text-decoration: none;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	/*Custom value for MN Tech*/
	line-height: 1.25;
}

ol, ul {
	list-style: none;
	cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
												supported by Chrome and Opera */
}
/* Apply a "closed-hand" cursor during drag operation. */
ol:active,ul:active {
	 cursor: grabbing;
	 cursor: -moz-grabbing;
	 cursor: -webkit-grabbing;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}
input[type="checkbox"] {
  transform:scale(1.5, 1.5);
}

/*--------------------------------------------------------------------------------------------
Colors
---------------------------------------------------------------------------------------------*/
:root {
--slate-grey: #333D46;
--vibrant-green: #B1DD01;
--navy: #123855;
--storm-grey: #515961;
--cloud-grey: #C0C5CE;
--white: #f5f5f5;
--dark-grey: #2a2d2a;
}

/*--------------------------------------------------------------------------------------------
Globals not included in reset
---------------------------------------------------------------------------------------------*/
html {
	font-size: 62.5%;
}

img {
	width: inherit;
}

/*--------------------------------------------------------------------------------------------
Fonts/Typography
---------------------------------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6, span, p, input, form, textarea {
	color: var(--dark-grey);
  font-family: 'Montserrat', sans-serif;
}

.header-title {
	color: var(--vibrant-green);
	font-size: 6rem;
	text-transform: uppercase;
}

.header-content {
	color: var(--white);
	font-size: 2rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}

/*--------------------------------------------------------------------------------------------
Buttons
---------------------------------------------------------------------------------------------*/
.request-form input[type="submit"] {
	border: none;
	text-transform: uppercase;
	transition: 0.25s ease-in all;
}

.request-form.ng-invalid-required input[type="submit"] {
	background-color: rgba(192, 197, 206, 0.25);
	color: #a0a8b6;
}

.request-form.ng-valid-required input[type="submit"],
.survey-form input[type="submit"] {
	background: var(--slate-grey);
	color: var(--vibrant-green);
	cursor: pointer;
}

/*--------------------------------------------------------------------------------------------
Shared Styles
---------------------------------------------------------------------------------------------*/
@supports  (grid-area: auto) {

.page {
	display: grid;
}

.about-page,
.services-page,
.join-page {
	grid-template-rows: 30vh 54vh;
	grid-template-columns: 40vw 60vw;
}

.page-header {
	background-color: var(--slate-grey);
	display: flex;
}

.about-header,
.services-header,
.join-header {
	grid-column: 1 /3;
}

.content-container {
	align-items: center;
	align-self: center;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(8, 1fr);
	justify-content: center;
	text-align: center;
}

.content-container .header-title {
	grid-column: 1/ 9;
}

.content-container .header-content {
	grid-column: 3 / 7;
}

/*--------------------------------------------------------------------------------------------
Media Queries for Shared Styles
---------------------------------------------------------------------------------------------*/

@media screen and (max-width: 1365px) {

	.content-container .header-content {

	}
}

@media screen and (max-width: 1180px) {
	.content-container .header-content {
		grid-column: 2 / 8;
	}
}

@media screen and (max-width: 1040px) {

	.header-title {
		font-size: 4rem;
}

	.content-container .header-content {
		font-size: 2.5rem;
	}
}

}
