/*--------------------------------------------------------------------------------------------
Reset - Thanks Eric Meyer!!
---------------------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	text-decoration: none;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	/*Custom value for MN Tech*/
	line-height: 1.25;
}

ol, ul {
	list-style: none;
	cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
												supported by Chrome and Opera */
}
/* Apply a "closed-hand" cursor during drag operation. */
ol:active,ul:active {
	 cursor: grabbing;
	 cursor: -moz-grabbing;
	 cursor: -webkit-grabbing;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}


/*--------------------------------------------------------------------------------------------
Colors
---------------------------------------------------------------------------------------------*/
:root {
--slate-grey: #333D46;
--vibrant-green: #B1DD01;
--navy: #123855;
--storm-grey: #515961;
--cloud-grey: #C0C5CE;
--white: #f5f5f5;
--dark-grey: #2a2d2a;
}

/*--------------------------------------------------------------------------------------------
Globals not included in reset
---------------------------------------------------------------------------------------------*/
html {
	font-size: 62.5%;
}

body {
	margin: 0 auto;
	max-width: 110rem;
}

img {
	height: inherit;
	width: inherit;
}

/*--------------------------------------------------------------------------------------------
Fonts/Typography
---------------------------------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6, span, p, input, form, textarea, a {
	color: var(--navy);
  font-family: 'Montserrat', sans-serif;
}

.header-title {
	color: var(--vibrant-green);
	font-size: 6rem;
	text-transform: uppercase;
}

.header-content {
	color: var(--white);
	font-size: 1.8rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}

.header,
.list-item,
.list-header,
.list-content,
label {
	color: var(--navy);
}

.header,
.list-header,
label {
	text-transform: uppercase;
}

.header {
	font-size: 2.6rem;
	margin-bottom: 1rem;
}

.list-item, .list-header,
.portfolio-content, .portfolio-item-title,
.bio-header > *, .bio-content,
input, textarea, label {
	font-size: 1.8rem;
}

.bio-header,
.portfolio-item-title,
.list-header {
	font-weight: 600;
}

label {
	font-weight: 400;
}
/*--------------------------------------------------------------------------------------------
Buttons
---------------------------------------------------------------------------------------------*/
.request-form input[type="submit"] {
	border: none;
	text-transform: uppercase;
	transition: 0.25s ease-in all;
}

.request-form.ng-invalid-required input[type="submit"] {
	background-color: rgba(192, 197, 206, 0.25);
	color: #a0a8b6;
}

.request-form.ng-valid-required input[type="submit"],
.survey-form input[type="submit"] {
	background: var(--slate-grey);
	color: var(--vibrant-green);
	cursor: pointer;
}

/*--------------------------------------------------------------------------------------------
Shared Styles
---------------------------------------------------------------------------------------------*/
@supports  (grid-area: auto) {

body {
	overflow-x: hidden;
}

input[type="checkbox"] {
  transform:scale(1.5, 1.5);
}

input, textarea {
	background-color: var(--white);
	border: 1px solid var(--storm-grey);
	padding: 0.75rem;
}

input:hover, input:focus, input:active,
textarea:hover, textarea:focus, textarea:active {
	outline: 2px solid var(--vibrant-green);
}

.page {
	display: grid;
}

.about-page,
.services-page,
.join-page {
	grid-template-rows: 30vh 54vh;
	grid-template-columns: 42% 58%;
}

.page-header {
	background-color: var(--slate-grey);
	display: flex;
}

.about-header,
.services-header,
.join-header {
	grid-column: 1 /3;
}

.page-header.home-header,
.portfolio-header {
	grid-column: 1 / 4;
}

.content-container {
	align-items: center;
	align-self: center;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(32, 1fr);
	justify-content: center;
	text-align: center;
}

.content-container .header-title {
	grid-column: 2/ 32;
}

.content-container .header-content {
	grid-column: 7 / 27;
}

.right-side,
.left-side {
	padding: 0 2rem;
	overflow-y: scroll;
}

.right-side {
	background-color: var(--white);
}

.left-side {
	background-color: var(--cloud-grey);
}

.list-item {
	padding: 0 0 1rem 0;
}

.input-container {
	display: grid;
	grid-template-rows: repeat(2, auto);
	margin-bottom: 1rem;
}

footer {
	/*display: none;*/
}

/*--------------------------------------------------------------------------------------------
Media Queries for Shared Styles
---------------------------------------------------------------------------------------------*/

@media screen and (max-width: 1365px) {

}

@media screen and (max-width: 1085px) {

	.header-title {
		font-size: 5rem;
	}
}

@media screen and (max-width: 975px) {
	.header-title {
		font-size: 4rem;
	}
	.content-container .header-content {
		font-size: 1.6rem;
	}
}

@media screen and (max-width: 815px) {
	.global-navbar {
		background-color: red;
	}
}

}
