@supports  (grid-area: auto) {

	@media screen and (max-width: 815px) {
		/* All tablets in portrait and cell phones*/
	}

	.global-navbar {
		background-color: var(--white);
		display: grid;
		grid-template-rows: 16vh;
		grid-template-columns: minmax(17.5rem, auto) 58rem;
		padding:0 5%;
	}

	section.mntech-logo {
		width: 12rem;
	}

	figure.logo-image {
		height: 16vh;
		padding: 1rem;
	}

	.logo-image img {
		height: 100%;
	}

	section.navigation {
		font-size: 1.6rem;
		text-align: center;
	}

	section.navigation nav {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(11.3rem, 1fr));
		grid-template-rows: 16vh;
	}

	section.navigation nav a {
		align-self: end;
		border-bottom: solid 2px var(--navy);
		margin-bottom: 2rem;
		transition: 0.25s ease-in;
	}

	section.navigation nav a span {
		display: block;
		margin-bottom: 1.2rem;
	}

	.global-navbar nav a:hover,
	.global-navbar nav a:focus,
	.global-navbar nav a:active
	.global-navbar nav a:visited,
	.global-navbar nav a.home,
	.global-navbar nav a.about,
	.global-navbar nav a.services,
	.global-navbar nav a.join,
	.global-navbar nav a.portfolio {
		border-bottom: solid 2px var(--vibrant-green);
	}

	.nav-link {
		text-transform: uppercase;
	}
}
