.portfolio-page {
  grid-template-rows: 30vh 54vh;
  grid-template-columns: repeat(3, 1fr);
}

.portfolio-page .content-container .header-content {
  grid-column: 9 / 25;
}

.portfolio-column-header {
  text-align: center;
}

.portfolio-item {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 100%;
  padding-bottom: 5rem;
}

.portfolio-image-container {
  width: 100%;
}

.portfolio-content {
  grid-row: 3;
}

.line-creator {
  background-color: var(--cloud-grey);
  height: 1px;
  margin: 0 auto 4rem;
  width: 50%;
}
