.grid {
  display: grid;
  border: 1px solid white;
  grid-gap: 10px;
  grid-template: 100px 100px / 200px auto 100px;
  height: 400px;
  /*justify-content: space-between;*/
  align-content: space-around;
}
