<section id="landing-page">
  <div class="landing-page-wrap">
    <div class="logo-grid">
      <img src="/assets/images/mntc_logo_green.png" alt="The logo for MN Tech. It is the geographical shape of Minnesota." class="logo">
    </div>
    <div class="navigate-container-left">
      <a href="/home" ng-click="base.setActive('home')">
        <span class="navigate-text" ng-click="base.setActive('home')">I need</span>
        <span class="navigate-text large left" ng-click="base.setActive('home')">tech</span>
      </a>
    </div>
    <div class="navigate-container-right">
      <a href="/join" ng-click="base.setActive('join')">
        <span class="navigate-text">I am</span>
        <span class="navigate-text large right">tech</span>
      </a>
    </div>
  </div>
</section>
