<main class="portfolio-page page">
  <section class="page-header portfolio-header">
    <div class="content-container">
      <h1 class="header-title">Our Work So Far.</h1>
      <p class="header-content">MN Tech Coop is a young company. While
          our skill and talent is large, our portolio is small - but
          growing! Check back monthly to see our latest work.
      </p>
    </div>
  </section>
  <section class="portfolio-column portfolio-design">
    <h2 class="portfolio-column-header header">Design</h2>
    <div class="portfolio-item">
      <div class="portfolio-image-container">
        <img src="/assets/images/ppna.jpg" />
      </div>
      <h6 class="portfolio-item-title">Powderhorn Park Neighborhood Association</h6>
      <a class="portfolio-content list-content" href="https://www.ppna.org/" target="_blank">
        www.ppna.org
      </a>
    </div>
    <div class="line-creator"></div>
    <div class="portfolio-item">
      <div class="portfolio-image-container">
        <img src="/assets/images/meganSweeny.jpg" />
      </div>
      <h6 class="portfolio-item-title">Meaghan Sweeney Arts</h6>
      <a class="portfolio-content list-content" href="https://www.meaghansweeneyarts.com/" target="_blank">
        www.meaghansweeneyarts.com
      </a>
    </div>
  </section>
  <section class="portfolio-column portfolio-branding">
    <h2 class="portfolio-column-header header">Branding</h2>

  </section>
  <section class="portfolio-column portfolio-apps">
    <h2 class="portfolio-column-header header">Apps</h2>
    <div class="portfolio-image-container">
      <img src="/assets/images/ppna.jpg" />
    </div>
    <p class="portfolio-content list-content">THis is some text, big sexy.</p>
  </section>
</main>
